:root {
  --white: #fff;
  --light-grey: #CACACA;
  --black: #000;
  --grey: #666666;
  --dark-gray: #414141;
  --blue:#9dd1e8;
  --dark-blue: #4e697a;
}

html {
  box-sizing: border-box;
  background-color: var(--dark-gray);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  background-color: var(--dark-gray);
  background-image: url('../img/main5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.reset-list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-reset {
  border: none;
  background-color: inherit;
  color: var(--white);
}

.flex {
  display: flex;
}

.container {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 50px;
}

.section {

}



/* header header header header header header header header header header header*/

.header {
  padding: 10px 0;
  border-bottom: 0.5px solid #878697;
}

.nav {
}

.nav__list {
  gap: 15px;
  align-items: center;
}

.nav__item {

}

.nav__link {
  display: inline-block;
  padding: 4px 12px;
  font-size: 24px;
  color: var(--white);
  text-decoration: none;
  transition: .3s color;
}

.nav__link--active {
  background-color: var(--dark-blue);
  border-radius: 5px;
  color: var(--blue);
}

.nav__link:focus-visible {
  outline: 3px solid var(--dark-blue);
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link:active {
  background-color: var(--dark-blue);
  opacity: 0.8;
  border-radius: 5px;
}

.nav__btn {
  margin-left: auto;
  padding: 10px 50px;
  background-image: url('../img/gobtn2.jpg');
  background-position: center;
  background-size: cover;
  border: 1px solid green;
}

/* main main main main main main main main main main main main main main main main */

.main {
  flex-wrap: wrap;
  border-bottom: 0.5px solid #878697;
}

.section__main {
  width: 100%;
  gap: 38px;
  min-height: 600px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.article {
  height: 517px;
  width: 212px;
}

.article__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  outline: none;
  transition: .3s outline;
}

.article__link:focus-visible {
  outline: 5px solid var(--blue);
  outline-offset: -5px;
}

.article__link:hover {
  outline: 5px solid var(--white);
  outline-offset: -5px;
}

.article__link:active {
  outline: var(--black);
}

.article__img {
  width: 100%;
  height: 100%;
}

.container__btn {
  padding: 30px 0;
}